{% extends 'base.html' %}

{% block pageheading %}
menu
{% endblock %}

{% block main %}
<div class="products">
    <div class="product-box">
        <h3 class="product-box-heading">Flat white</h3>
        <p class="product-box-info">Definitly created in New Zealand (now in westland) a classic.</p>
        <img src="static/images/flatwhite.jpg">
        <p><strong>Size:</strong>180ml</p>
        <p><strong>Price:</strong>$4.00</p>
    </div>

    <div class="product-box">
        <h3 class="product-box-heading">Latte</h3>
        <p class="product-box-info">The New Zealand Latte is larger than a flat white and has more foamy milk</p>
        <img src="static/images/latte.jpg">
        <p><strong>Size:</strong>240ml</p>
        <p><strong>Price:</strong>$4.00</p>
    </div>
</div>
{% endblock %}