{% extends 'base.html' %}

{% block pageheading %}
menu
{% endblock %}

{% block main %}
    <div class="category-menu">
    {% for category in categories %}
        <li><a href="/menu/{{ category[0] }}">{{ category[1] }}</a></li>
    {% endfor %}
    </div>
    <div class="products">
        {% for coffee in products %}
        <div class="product-box">
            <div class="product-box-heading">
                <h3>{{ coffee[0] }}</h3>
            </div>
            <div class="product-box-image">
                <img src="/static/images/{{ coffee[3] }}.jpg">
            </div>
            <div class="product-box-info">
                <p>{{ coffee[1] }}</p>
                <p><strong>Size:</strong>{{ coffee[2] }}</p>
                <p><strong>Price:</strong>${{ coffee[4] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}